<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>250757625569-up1hhiar5un6d4vgknqa65tdmbv9e08n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.250757625569-up1hhiar5un6d4vgknqa65tdmbv9e08n</string>
	<key>API_KEY</key>
	<string>AIzaSyAknKA_gEJfF43BEIBtmOiR9JyGe6VZAzw</string>
	<key>GCM_SENDER_ID</key>
	<string>250757625569</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.AlexanderFomin86.VkClient2020</string>
	<key>PROJECT_ID</key>
	<string>vkclient-a78cb</string>
	<key>STORAGE_BUCKET</key>
	<string>vkclient-a78cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:250757625569:ios:c371467ee9a7025a6a69a0</string>
</dict>
</plist>